@inherits LayoutComponentBase

<div class="page">
   @*  <div class="sidebar">
        <NavMenu />
    </div> *@

    <main>
        <nav class="navbar  bg-dark bg-opacity-25">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    E-Learning
                </a>
            </div>
        </nav>

        <article class="content px-4 container">
            @Body
        </article>

        <footer>
            <p class="text-center">
                &copy; Sardor Sohinazarov
            </p>
        </footer>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
