@page "/courses"

<PageTitle>Courses | E-Learning</PageTitle>

<div class="d-flex justify-content-evenly">
    <div class="card" style="width: 18rem;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Logo_C_sharp.svg/1200px-Logo_C_sharp.svg.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><b>Card title</b></h5>
            <p class="card-text">Some quick example text to build on the card title</p>
            <a href="/lessons" class="btn btn-dark align-bottom">Lessons</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Blazor.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/lessons" class="btn btn-dark">Lessons</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--AfyjCwg8--/c_imagga_scale,f_auto,fl_progressive,h_1080,q_auto,w_1080/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/8t7d1l3c6s14czmwuknl.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/lessons" class="btn btn-dark">Lessons</a>
        </div>
    </div>
</div>

<style>
    a{
        color:white;
    }
</style>


@code {

}
