@page "/courses"

<PageTitle>Courses | E-Learning</PageTitle>

<h1 class="text-center">Kurslar</h1>

<div class="d-flex justify-content-evenly">
    <div class="card border-0" style="width: 18rem;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Logo_C_sharp.svg/1200px-Logo_C_sharp.svg.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">
                <b>
                    <span class="badge bg-secondary">
                        C# (CSharp)
                    </span>
                </b>
            </h5>
            <p class="card-text">C# tili va uning afzalliklari haqida va c# yordamida .NET muhitida web ilovalar ishlab chiqishni o'rganamiz.</p>
            <a href="/lessons" class="btn btn-dark align-bottom">Lessons</a>
        </div>
    </div>
    <div class="card border-0" style="width: 18rem;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/d/d0/Blazor.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">
                <b>
                    <span class="badge bg-secondary">
                        Blazor
                    </span>
                </b>
            </h5>
            <p class="card-text">.NET ning Blazor frameworki yordamida web UI ilovalar qurishni o'rganamiz.</p>
            <a href="/lessons" class="btn btn-dark">Lessons</a>
        </div>
    </div>
    <div class="card border-0" style="width: 18rem;">
        <img src="https://res.cloudinary.com/practicaldev/image/fetch/s--AfyjCwg8--/c_imagga_scale,f_auto,fl_progressive,h_1080,q_auto,w_1080/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/8t7d1l3c6s14czmwuknl.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">
                <b>
                    <span class="badge bg-secondary">
                        MAUI
                    </span>
                </b>
            </h5>
            <p class="card-text">.NET ning MAUI frameworki yordamida Mobile va Desktop ilovalar qurishni o'rganamiz.</p>
            <a href="/lessons" class="btn btn-dark">Lessons</a>
        </div>
    </div>
</div>

<style>
    a{
        color:white;
    }
</style>


@code {

}
