@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<div class="d-flex justify-content-evenly">
    <div class="card" style="width: 18rem;">
        <img src="https://logos.telegram-store.com/channels/hayot-life-haqiqat-sohinazarovs/telegram_logo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><b>Card title</b></h5>
            <p class="card-text">Some quick example text to build on the card title</p>
            <a href="/lessons" class="btn btn-dark align-bottom">Lessons</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://logos.telegram-store.com/channels/hayot-life-haqiqat-sohinazarovs/telegram_logo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/lessons" class="btn btn-dark">Lessons</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="https://logos.telegram-store.com/channels/hayot-life-haqiqat-sohinazarovs/telegram_logo.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/lessons" class="btn btn-dark">Lessons</a>
        </div>
    </div>
</div>
