@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<iframe width="560" height="315" src="https://www.youtube.com/embed/NI00EIJmEnM?si=soP-rUEo89CEf64x" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/NI00EIJmEnM?si=soP-rUEo89CEf64x" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/NI00EIJmEnM?si=soP-rUEo89CEf64x" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/NI00EIJmEnM?si=soP-rUEo89CEf64x" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/NI00EIJmEnM?si=soP-rUEo89CEf64x" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/NI00EIJmEnM?si=soP-rUEo89CEf64x" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/NI00EIJmEnM?si=soP-rUEo89CEf64x" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/NI00EIJmEnM?si=soP-rUEo89CEf64x" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/NI00EIJmEnM?si=soP-rUEo89CEf64x" 
        title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen></iframe>

Welcome to your new app.
