@page "/lessonlist"
@attribute [StreamRendering]

<PageTitle>Lessons</PageTitle>

<div class="container">

    <p class="text-center">Lessonlar listi</p>

    @if (lessonList == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="container">
            <ul class="list-group list-group-flush">
                @foreach (var lesson in lessonList)
                {
                    var id = lesson.Id;
                    <a href="/lesson/{@id}" class="list-group-item list-group-item-action border-bottom">
                    <li class="list-item">
                        <div class="li-text">
                                @lesson.Id

                            <br />

                            <h5>
                                @lesson.Name
                            </h5>
                        </div>
                    </li>
                    </a>
                }
            </ul>
        </div>
    }
</div>

<style>
    .posts-list {
        justify-content: space-evenly;
    }

    a {
        text-decoration: none;
    }

    .list-group {
        list-style-type: none;
    }

    .list-group-item {
        position: relative;
        border-style: solid;
        transition: box-shadow 0.3s;
    }

    .list-group-item:hover {
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
    }

    .list-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .li-text {
        float: left;
        padding: 10px 0;
    }

    .item {
        position: relative;
        width: 30px;
        height: 24px;
    }

    .list-group-item:hover {

        visibility: visible;
    }
</style>

@code {
    private ELearning.UI.Model.Lesson[]? lessonList;

    protected override async Task OnInitializedAsync()
    {
        lessonList = Enumerable.Range(1, 5).Select(index => new ELearning.UI.Model.Lesson
        {
            Id = new Random().Next(1,1000),
            Name = "Darni qattig'i",
            Contents = new List<ELearning.UI.Model.Content>
            {
                new ELearning.UI.Model.Content()
                {
                    Id = new Random().Next(1,1000).ToString(),
                    Title = "title" + Guid.NewGuid().ToString(),
                    Description = "description" + Guid.NewGuid().ToString(),
                    ImagePath = "https://freepixel-prod.s3.amazonaws.com/thumb/free-photos-a-man-is-sitting-at-a-desk-with-a-computer-possibly-working-or-enjoying-some-leisure-activities-he-i-th-1004039383.jpg"
                },
            },
            Description = "description" + Guid.NewGuid().ToString(),
            YoutubeVideoPath = "https://youtu.be/0hijEaQYEtU?si=9J4Y3ELm3iLiE7Ml"
        }).ToArray();
    }
}
